flask
torch
numpy
opencv-python-headless
pillow
pillow-avif-plugin
requests
imagehash
transformers
sentencepiece
spacy
beautifulsoup4
clip-by-openai

# CLIP from OpenAI
git+https://github.com/openai/CLIP.git
